<div class="marquee">
  <h4>Here Are Some of My projects From The Black Hole</h4>

  <div class="content">
    {{#each model as |project|}}
      <div class="project">
        <h2>{{project.title}}</h2>
      </div>
    {{/each}}
  </div>
</div>
