<div class="marquee">
  <h4>Here Are Some of My posts From The Black Hole</h4>

  <div class="content">
    {{#each model as |post|}}
      <div class="post">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
      </div>
    {{/each}}

    {{#link-to 'posts.new'}}<a href="">New post</a>{{/link-to}}
  </div>
</div>
