@import "bourbon";
@import "neat";
@import "_grids";
@import "_fonts";
@import "_buttons";

.ember-form {
  margin-left: 2.5%;
  margin-right: 2.5%;

  .input-field {
    margin-top: 10px;
    margin-bottom: 10px;

    input[type="text"] {
      width: 80%;
      font-size: 1em;
      border-radius: 4px;
      border: 1px solid black;
      font-size: 1.25em;
      padding: 10px;
    }

    textarea {
      padding: 10px;
      width: 80%;
      height: 30em;
      border-radius: 8px;
      font-size: 1.25em;
    }
  }

}

.post {
  h5 {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  width: 25%;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  margin-bottom: 10px;
}

.post-preview {
  font-style: Arial;
}

.container {
  @include outer-container;

  .navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    @include outer-container;

    .header {
      @include span-columns(6);
      ul {
        list-style-type: none;
        li {
          font-style: Arial;
          font-style: italic;
          text-transform: uppercase;
          font-size: 2em;
          a {
            color: rgb(32, 36, 40);
            text-decoration: none;
          }
        }
      }
    }
    .links {
      @include span-columns(6);
      ul {
        list-style-type: none;
        li {
          margin-left: 10px;
          margin-right: 10px;
          display: inline-block;
          font-size: 1.75em;
          font-style: Arial;
          letter-spacing: 2px;
          a {
            color: rgb(32, 36, 40);
            text-decoration: none;
          }
        }
      }
    }
  }
}
