<h2>This Is The Place</h2>

<h3>Black Hole data exists to create something really weird and unexpected.</h3>
<h3>Its certainly not <i>just</i> a blog, or <i>just</i> some portfolio.</h3>
<h3>Black Hole Data represents the more curious side of Taylor Jones.</h3>
<h3>Not all of the parts make sense, but they're a basis for learning more about
  the wild, weird world of programming.</h3>
<h3>Enjoy!</h3>
