<div class="marquee">
  <h2 class="title">Welcome to Black Hole Data</h2>

  <div class="content">
    <h4>
      Black Hole data exists to create something really weird and unexpected.<br /><br />
      Its certainly not <i>just</i> a blog, or <i>just</i> some portfolio.
      Black Hole Data represents the more curious side of Taylor Jones.<br /><br />
      Not all of the parts make sense, but they're a basis for learning more about
      the wild, weird world of programming. Enjoy!
    </h4>
  </div>
</div>
