<div class="navbar">
  <div class="header">
    <ul>
      {{#link-to 'index' tagName="li"}}<a href="">Black Hole Data</a>{{/link-to}}
    </ul>
  </div>
  <div class="links">
    <ul>
      {{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}
      {{#link-to 'posts' tagName="li"}}<a href="">posts</a>{{/link-to}}
      {{#link-to 'projects' tagName="li"}}<a href="">Projects</a>{{/link-to}}
    </ul>
  </div>
</div>
